{% extends 'base.html' %} {% block body %} {% load static %}

<div class="row ">
{% for food in foods %}
    <div class="col d-flex justify-content-center mt-4">
        <div class="card" style="width: 18rem">
            <img src="media/{{food.image}}" class="card-img-top" alt="..." />
             <div class="card-body">
                <h5 class="card-text">{{food.name}}</h5>
                <p class="card-text">{{food.price}}</p>
                <a href="#" id="liveToaster{{food.id}}" class="btn btn-primary trigger">Add to cart</a>
             </div>
        </div>
    </div>
{% endfor %}

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div>
</div>
{% endblock body %}

{% block script %}
<script>
const toastLiveExample = document.getElementById('liveToast')
$('.trigger').on('click',function(){    
          const toast = new bootstrap.Toast(toastLiveExample)
          toast.show()
})

        
</script>
{% endblock script %}