{% extends 'base.html' %} {% block body %}
<div class="container">
  <div class="col my-4">
    <h2>Your Orders</h2>
    <div class="my-4">
      {% for order in orders %}
      <div class="accordion" id="accordionExample">
        <div class="accordion-item x{{order.id}}">
          <h2 class="accordion-header" id="heading{{order.id}}">
            <button
              class="accordion-button collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapse{{order.id}}"
              aria-expanded="false"
              aria-controls="collapse{{order.id}}"
            >
              #{{order.id}} Order
            </button>
          </h2>
          <div
            id="collapse{{order.id}}"
            class="accordion-collapse collapse collapse"
            aria-labelledby="heading{{order.id}}"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul class="list-group list-group-numbered ">
                <li
                  class="list-group-item d-flex justify-content-between align-items-start"
                >
                  <div class="ms-2 me-auto">A list item</div>
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock body %} {% block script %}
<script>
  
</script>
{% endblock script %}
