<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>24x7 Restaurant</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <style>
      {% block css %}
      {% endblock css %}
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <div class="container-fluid">            
          <a class="navbar-brand" href="/dashboard">24x7 Restaurant</a>  

          <div class="navbar-nav">
            <div class="nav-item text-nowrap">
              <a class="nav-link px-3" href="/logout">Sign Out</a>
            </div>
          </div>
          </div>
        </div>
      </nav>

      {% for message in messages  %}            
      <div class=" mb-0 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong></strong> {{ message }}
            <button type="button" class="btn-close " data-dismiss="alert" aria-label="Close">
      </div>
      {% endfor %}

    <div class="container-fluid">
      <div class="row">
        <nav
          id="sidebarMenu"
          class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
        >
          <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">

              <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                  <span data-feather="file" class="align-text-bottom"></span>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/foods">
                  <span
                    data-feather="shopping-cart"
                    class="align-text-bottom"
                  ></span>
                  Foods
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/customers">
                  <span data-feather="users" class="align-text-bottom"></span>
                  Customers
                </a>
              </li>
            </ul>
          </div>
        </nav>

      

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">Dashboard</h1>    
            
            
  <div class="d-flex justify-content-start align-items-center">

    <button
      class="btn btn-primary mx-2 none"
      id="addItem"
      type="button"
      data-toggle="modal"
      data-target="#addModal"      
    >
      Add an item
    </button>
  </div>
</div>
          {% block body %}{% endblock body %}
         
        </main>
      </div>
    </div>

    

<!--Add item modal-->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="addFood"
          action="/dashboard/foods"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <input type="hidden" name="FoodId" value="-1" id="foodId" />
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              name="name"
              required
              type="text"
              class="form-control"
              id="name"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
              name="price"
              required
              type="text"
              class="form-control"
              id="price"
            />
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input
              type="file"
              name="image"
              class="form-control"
              id="image"
              accept="image/*"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="submit" form="addFood" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
    <script>
      setTimeout(() => {
        $('.alert').alert('close');
      }, 2000);

    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    {% block js %}{% endblock js %}
  </body>
</html>
