{% extends 'dashboard/dashboard.html' %} {% block body %}
<div class="container">
  <div class="d-flex justify-content-start align-items-center">
    <h3>Select Order type</h3>
    <button
      class="btn btn-secondary dropdown-toggle mx-3"
      type="button"
      data-toggle="dropdown"
      aria-expanded="false"
    >
      Order type
    </button>
    <div class="my-4">
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item filter1" id="pending">Pending</a></li>
        <li><a class="dropdown-item filter1" id="delievered">Delievered</a></li>
        <li><a class="dropdown-item active filter1" id="all">All</a></li>
      </ul>
    </div>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order</th>
          <th scope="col">Customer</th>
          <th scope="col">Is delivered?</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr id="otable">
          <th scope="row">{{forloop.counter}}</th>
          <td>{{order.user.first_name}}</td>
          {% if order.is_delivered %}
          <td>
            <div class="form-check">
              <input
                id="orderId{{forloop.counter}}"
                type="hidden"
                value="{{order.id}}"
              />
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheck{{forloop.counter}}"
                checked
              />
            </div>
          </td>
          {% else %}
          <td>
            <div class="form-check">
              <input
                id="orderId{{forloop.counter}}"
                type="hidden"
                value="{{order.id}}"
              />
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheck{{forloop.counter}}"
              />
            </div>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock body %} {% block js %}
<script>
  $("#addItem").hide();

  $(document).on("click", ".form-check-input", function (e) {
    console.log("checked");
    var identifier = this.id.substr(9);
    var id = $(`#orderId${identifier}`).val();

    $.ajax({
      type: "POST",
      url: "/dashboard/",
      data: {
        identifier: id,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      encode: true,
    })
      .done(function (data) {
        data = JSON.parse(data);
        if (data["status"] == "success") {
          console.log("Done");
          window.location.reload();
        }
      })
      .fail(function (data) {
        console.log(data);
      });
  });

  $(".filter1").on("click", function (e) {
    var query;
    if (this.id == "pending") {
      $(".dropdown-item").removeClass("active");
      $(this).toggleClass("active");

      query = {
        pending: true,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      };
    } else if (this.id == "delievered") {
      $(".dropdown-item").removeClass("active");
      $(this).toggleClass("active");

      query = {
        pending: false,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      };
    } else window.location.reload();

    doAjax(query);
  });

  function doAjax(query) {
    $.ajax({
      type: "POST",
      url: "/dashboard/",
      data: query,
      encode: true,
    })
      .done(function (data) {
        data = JSON.parse(data);
        fillData(data);
      })
      .fail(function (data) {
        console.log(data);
      });
  }

  function fillData(data) {
    if (data["status"] == "success") {
      orders = data["orders"];
      $("table tbody").empty();
      for (i in orders) {
        if (orders[i].is_delivered == true)
          $("tbody").append(`
            <tr><th scope='row'>${i}</th>
            <td>${orders[i].user}</td>
            <td>
              <div class="form-check">
                <input
                  id="orderId${i}"
                  type="hidden"
                  value="${orders[i].id}"
                />
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheck${i}"
                  checked
                />
              </div>
            </td></tr>`);
        else
          $("tbody").append(`
            <tr><th scope='row'>${i}</th>
            <td>${orders[i].user}</td>
            <td>
              <div class="form-check">
                <input
                  id="orderId${i}"
                  type="hidden"
                  value="${orders[i].id}"
                />
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheck${i}"
                />
              </div>
            </td></tr>`);
      }
    } else {
      alert("Failed to retrieve data!");
    }
  }
</script>
{% endblock js %}
